* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: white;
}

h1,
h2 {
    font-family: 'Merriweather', serif;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: black;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    margin: 0 auto;
}

.nav-item {
    list-style-type: none;
    font-family: 'Inter', sans-serif;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: white;
}

.nav-link:hover,
.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.hero-section {
    display: flex;
    background-image: url('./assets/img/bg.png');
    background-position: center -90px;
    background-repeat: no-repeat;
    height: 820px;
}

.hero-text {
    flex-direction: column;
    height: 330px;
    width: 500px;
    margin-top: 160px;
    margin-left: 80px;
}

.hero-text h1 {
    line-height: 120px;
    font-size: 60px;
}

.hero-text p {
    line-height: 40px;
    height: 120px;
    width: 470px;
}

.btn {
    border: 0;
    height: 55px;
    width: 250px;
    cursor: pointer;
    font-family: inherit;
}

.btn-gold {
    background-color: #bdae82;
}

.btn-transparent {
    background-color: black;
    color: #bdae82;
    border: solid;
    border-color: #bdae82;
}

.section-title {
    font-size: 40px;
    height: 80px;
    /* margin: 0;
    padding-top: 120px; */
    font-weight: bold;
    color: #bdae82;
}

.skills-section {
    background-color: black;
    height: 482px;
    text-align: center;
}

.skills-section h3 {
    size: 20px;
}

.skills-section p {
    font-size: 18px;
}

.skills-section img {
    height: 50px;
}

.skills-grid {
    display: flex;
    height: 242px;
    margin-top: 160px;
}

.grid-item {
    padding: 15px 30px;
}

.portfolio-section {
    background-color: black;
    height: 1500px;
    text-align: center;
}

.portfolio-btns {
    margin: 60px 0;
}

.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 25px;
}

.portfolio-grid-item {
    height: 560px;
    width: 450px;
}