.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

p {
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
}